- name: Ubuntu | Add ppa source
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - ppa:jonathonf/vim
    - ppa:fish-shell/release-3
    - ppa:git-core/ppa

- name: Ubuntu | Make sure vim/fish/git are latest
  apt:
    state: latest
    update_cache: yes
    pkg: [fish, vim, git]

- name: "Ubuntu | Install ripgrep {{version}}"
  apt:
    deb: "https://github.com/BurntSushi/ripgrep/releases/download/{{version}}/ripgrep_{{version}}_amd64.deb"
  vars:
    version: 11.0.2

- name: Ubuntu | Install packages
  apt:
    state: present
    pkg:
      [
        "mariadb-client-{{ mariadb_version }}",
        aptitude,
        aria2,
        aspell,
        cmake,
        emacs-nox,
        golang,
        htop,
        httpie,
        jq,
        mcrypt,
        memcached,
        mosh,
        mycli,
        ncdu,
        ntp,
        ntpdate,
        p7zip,
        pgcli,
        python-pip,
        python3-pip,
        python3-tmuxp,
        python3-venv,
        redis-server,
        ruby,
        ruby-dev,
        silversearcher-ag,
        software-properties-common,
        tig,
        tmux,
        tmuxinator,
        tree,
        unrar,
        unzip,
        virtualenv,
        # wamerican,
        wbritish,
        xz-utils,
      ]
