---
- name: MySQL | Uninstall
  apt: name={{item}} state=absent
  with_items:
    mysql-server
    mysql-client

- name: MariaDB | Install MariadB Server
  apt: pkg={{ item }} state=latest
  with_items:
    - mariadb-server-10.0
    - python-mysqldb

- name: MariaDB | innodb settings
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ mariadb_user }}"
    group: "{{ mariadb_group }}"
  with_items:
    - { src: 'templates/mysql/innodb.cnf', dest: '/etc/mysql/conf.d/innodb.cnf' }
  notify:
    - restart mysql

- name: MariaDB | Setup MariaDB root password
  mysql_user:
    name: "root"
    password: "mysql"
    host: "{{ item }}"
    state: present
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost
  notify:
    - restart mysql

- name: MariaDB | Setup MariaDB root password
  mysql_user:
    name: {{ home_username }}
    password: {{ home_username }}
    host: "{{ item }}"
    state: present
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost
  notify:
    - restart mysql


- name: MariaDB | Setup MariaDB creds for root user
  template:
    src: templates/mysql/my.root.cnf
    dest: "/root/.my.cnf"
    owner: "root"
    mode: 0600

- name: MariaDB | Setup MariaDB creds for ubuntu user
  template:
    src: templates/mysql/my.ubuntu.cnf
    dest: "{{ home_dir }}/.my.cnf"
    owner: "ubuntu"
    mode: 0600

- name: MariaDB | Delete blank MariaDB users
  mysql_user:
    name: ""
    host: "{{ item }}"
    state: absent
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost

- name: MariaDB | Drop MariaDB test database
  mysql_db:
    name: test
    state: absent

- name: MariaDB | Setup empty database for moodle
  mysql_db:
    name: "moodle"
    encoding: "utf8"
    collation: "utf8_unicode_ci"
    state: "present"
    login_user: "root"
    login_password: "mysql"

- name: MariaDB | Setup MariaDB user for Moodle
  mysql_user:
    name: "moodle"
    password: "moodle"
    host: "localhost"
    priv: "moodle.*:ALL"
    state: "present"
- name: phpMyAdmin
  unarchive:
    owner: {{ httpd_user }}
    group: {{ httpd_group }}
    mode: 0775
    src: https://files.phpmyadmin.net/phpMyAdmin/4.7.6/phpMyAdmin-4.7.6-english.zip
    dest: /var/www/phpmyadmin
    remote_src: yes