- name: Ubuntu | Add ppa source
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - ppa:jonathonf/vim
    - ppa:fish-shell/release-2
    - ppa:git-core/ppa

- name: Ubuntu | Make sure vim/fish/git are latest
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
    - fish
    - vim
    - git

- name: "Ubuntu | Install ripgrep {{version}}"
  apt:
    deb: "https://github.com/BurntSushi/ripgrep/releases/download/{{version}}/ripgrep_{{version}}_amd64.deb"
  vars:
    version: 0.8.1

- name: Ubuntu | Install packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - aptitude
      - aria2
      - cmake
      - git
      - htop
      - jq
      - "mariadb-client-{{ mariadb_version }}"
      - mcrypt
      - memcached
      - mosh
      - ncdu
      - p7zip
      - python-pip
      - python3-pip
      - ruby
      - ruby-dev
      - silversearcher-ag
      - software-properties-common
      - tig
      - tmux
      - tree
      - unrar
      - unzip
      - xz-utils
