- name: Ubuntu | Add ppa source
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - ppa:jonathonf/vim
    - ppa:fish-shell/release-3
    - ppa:git-core/ppa

- name: Ubuntu | Make sure vim/fish/git are latest
  apt:
    state: latest
    update_cache: yes
    pkg: [fish, vim, git]

- name: "Ubuntu | Install ripgrep {{version}}"
  apt:
    deb: "https://github.com/BurntSushi/ripgrep/releases/download/{{version}}/ripgrep_{{version}}_amd64.deb"
  vars:
    version: 0.10.0

- name: Ubuntu | Install packages
  apt:
    state: present
    pkg:
      [
        aptitude,
        aria2,
        cmake,
        golang,
        htop,
        jq,
        "mariadb-client-{{ mariadb_version }}",
        mcrypt,
        memcached,
        mosh,
        ncdu,
        p7zip,
        python-pip,
        python3-pip,
        ruby,
        ruby-dev,
        silversearcher-ag,
        software-properties-common,
        tig,
        tmux,
        tree,
        unrar,
        unzip,
        xz-utils,
      ]
