- name: Pip | Upgrade system pip packages
  pip:
    state: present
    extra_args: "--upgrade"
    name: [pip, ps_mem]

- name: Pip | install packages
  become: yes
  become_user: "{{ home_username }}"
  pip:
    state: present
    extra_args: "--user --upgrade"
    # vim-vint+pathlib+pyping is for vint: vimscript linting
    name: [tmuxp, pgcli, mycli, httpie, vim-vint, pathlib, typing]
