---
- name: $HOME | Cleanup
  file:
    src: "{{ item.src | default(omit) }}"
    dest: "{{ item.dest }}"
    state: "{{ item.state }}"
  with_items:
    - { dest: '{{ home_dir }}/.bashrc', state: 'absent' }
    - { dest: '{{ home_dir }}/.vimrc', state: 'absent' }
    - { dest: '{{ home_dir }}/.tmux.conf', state: 'absent' }

- name: $HOME | Create .local
  file:
    path: "{{ home_dir }}/.local/bin"
    state: directory
    owner: "{{ home_username }}"
    group: "{{ home_usergroup }}"
    mode: 0775

- name: $HOME | download .vimrc
  get_url:
    url: https://gist.githubusercontent.com/dcai/cd2b8102218eb8381e6a1aacc80a0cb0/raw/bf29d1b68410a0f902bace6b51a9900119a67a90/.vimrc
    dest: "{{ home_dir }}/.vimrc"
    owner: "{{ home_username }}"
    group: "{{ home_usergroup }}"
    mode: 0640

- name: $HOME | download .bashrc
  get_url:
    url: https://gist.githubusercontent.com/dcai/3847582/raw/df5748e8294c512c07aa28c390e6b4e339de3f5f/.bashrc
    dest: "{{ home_dir }}/.bashrc"
    owner: "{{ home_username }}"
    group: "{{ home_usergroup }}"
    mode: 0640

- name: $HOME | install fzf
  git:
    repo: https://github.com/junegunn/fzf.git
    dest: "{{ home_dir }}/.fzf"
    depth: 1

- name: $HOME | change .fzf directory ownership
  file:
    path: "{{ home_dir }}/.fzf"
    owner: "{{ home_username }}"
    group: "{{ home_usergroup }}"
    mode: 0775

- name: $HOME | download .tmux.conf
  get_url:
    url: https://gist.githubusercontent.com/dcai/a2e7ca940babda0c7137/raw/9295d4db1781be6b8f7852fab68cae0c63831ab9/.tmux.conf
    dest: "{{ home_dir }}/.tmux.conf"
    owner: "{{ home_username }}"
    group: "{{ home_usergroup }}"
    mode: 0640
