- hosts: all
  become: True
  become_method: sudo
  become_user: root
  remote_user: ubuntu
  vars:
    home_username: vagrant
    home_usergroup: vagrant
    home_dir: "/home/{{ home_username }}"
    extra_hdd: "/dev/sdc"
    extra_hdd_mount: "/workspace"
    samba_user: "{{ home_username }}"
    samba_pass: "{{ home_username }}"
    mariadb_version: "10.1"
    mariadb_file_owner: root
    mariadb_file_owner_group: root
    postgres_version: "10"
    postgres_user: "{{ home_username }}"
    postgres_pass: "{{ home_username }} "
    httpd_wwwroot: "/var/www"
    httpd_user: "{{ home_username }}"
    httpd_group: "{{ home_username }}"
    php_version: "7.2"
    nodejs_version: "10.x"
    phpmyadmin_version: "4.8.5"
  tasks:
    - name: set timezone to Etc/UTC
      timezone:
        name: Etc/UTC
    - include: tasks/apt.yml
    - include: tasks/user.yml
    - include: tasks/nodejs.yml
    - include: tasks/pip.yml
    - include: tasks/samba.yml
    - include: tasks/mysql.yml
    - include: tasks/mongo.yml
    - include: tasks/postgres.yml
    - include: tasks/php.yml
    - include: tasks/nginx.yml
    - include: tasks/sys.yml
    # - include: tasks/partition.yml

  handlers:
    - name: restart nginx
      service: name=nginx state=restarted
    - name: restart php-fpm
      service: name=php{{ php_version }}-fpm state=restarted
    - name: restart mysql
      service: name=mysql state=restarted
    - name: restart smbd
      service: name=smbd state=restarted
    - name: restart postgresql
      service: name=postgresql state=restarted
    - name: restart mongodb
      service: name=mongod state=restarted
