---
- hosts: all
  become: True
  become_method: sudo
  become_user: root
  remote_user: ubuntu
  vars:
    samba_user: ubuntu
    samba_pass: ubuntu
    mariadb_file_owner: root
    mariadb_file_owner_group: root
    postgres_version: "9.5"
    postgres_user: ubuntu
    postgres_pass: ubuntu
    httpd_wwwroot: "/var/www"
    httpd_user: ubuntu
    httpd_group: ubuntu
    php_version: "5.6"
    nodejs_version: "8.x"
    home_dir: "/home/ubuntu"
    home_username: ubuntu
    home_usergroup: ubuntu
    phpmyadmin_version: "4.8.1"
  tasks:
    - name: set timezone to Etc/UTC
      timezone:
        name: Etc/UTC
    - include: tasks/user.yml
    - include: tasks/sys.yml
    - include: tasks/packages.yml
    - include: tasks/nodejs.yml
    - include: tasks/pip.yml
    - include: tasks/samba.yml
    - include: tasks/mysql.yml
    - include: tasks/postgres.yml
    # - include: tasks/php.yml
    # - include: tasks/nginx.yml

  handlers:
    - name: restart nginx
      service: name=nginx state=restarted
    - name: restart php-fpm
      service: name=php{{ php_version }}-fpm state=restarted
    - name: restart mysql
      service: name=mysql state=restarted
    - name: restart smbd
      service: name=smbd state=restarted
    - name: restart postgresql
      service: name=postgresql state=restarted
