---
- hosts: all
  become: True
  become_method: sudo
  become_user: root
  remote_user: ubuntu
  vars:
    mariadb_user: root
    mariadb_group: root
    httpd_wwwroot: "/var/www"
    httpd_user: ubuntu
    httpd_group: ubuntu
    php_version: "5.6"
    nodejs_version: "8.x"
    home_dir: "/home/ubuntu"
    home_username: ubuntu
    home_usergroup: ubuntu
    phpmyadmin_version: "4.7.6"
  tasks:
    - name: set timezone to Etc/UTC
      timezone:
        name: Etc/UTC
    - include: tasks/php.yml
    - include: tasks/nginx.yml
    - include: tasks/user.yml
    - include: tasks/packages.yml
    - include: tasks/mysql.yml
    - include: tasks/nodejs.yml
    - include: tasks/pip.yml
    # - include: tasks/java.yml
    # - include: tasks/vagrant.yml
    # - include: tasks/apache.yml
    # - include: tasks/moodle.yml

  handlers:
    - name: restart nginx
      service: name=nginx state=restarted
    - name: restart php-fpm
      service: name=php{{ php_version }}-fpm state=restarted
    - name: restart mysql
      service: name=mysql state=restarted
